<div class="body">
    <form class="container" [formGroup]="loginForm">
        <h1>Connexion</h1>
        <span id="line"></span>
        <div class="inputs">
            <p class="wrong error-div" *ngIf="wrongCombination">Email ou mot de passe incorrect</p>
            <input type="text" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Mot de passe" formControlName="password">
            <p class="forgot-password">Vous avez oublié votre mot de passe ? <a
                    (click)="onNavigate('/forgotpassword')">Cliquez ici</a></p>
        </div>
        <button class="main-button" type="submit" (click)="onSubmit()">Connexion</button>
        <p class="second-button" (click)="onNavigate('/register')">Inscription</p>
    </form>
</div>