.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, rgba(9,4,40,1) 5%, #110b38 64%); 
}

.success-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    background-color: #fdfcff;
    width: 500px;
    box-shadow: #a48ffb90 0px 10px 36px 0px, #a48ffb90 0px 0px 0px 1px; 
}

.check_circle {
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    color: #6142dd;
    margin-bottom: 10px;

}

.succes-text {
    font-size: 17px;
    text-align: center;
}

.succes-login-text {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: #6142dd;
    text-decoration: underline;
}

.succes-login-text a{
    cursor: pointer;
}

@media screen and (max-width: 520px) {

    .success-container {
        width: 90%;
    }
  }