<div class="body">
    <form class="container" [formGroup]="resetPasswordForm" *ngIf="!successfulResetPassword">
        <h1>Réinitialiser votre mot de passe</h1>
        <span id="line"></span>
        <div class="inputs">
            <p class="wrong error-div" *ngIf="errorResetPassword">Impossible de changer votre mot de passe depuis cet
                URL.
                Veuillez effectuer une nouvelle demande de réinitialisation de mot de passe.
            </p>
            <input type="password" [ngClass]='passwordClass' placeholder="Mot de passe" formControlName="password">
            <input type="password" [ngClass]='passwordClass' placeholder="Confirmer le mot de passe"
                formControlName="confirmPassword">
            <p class="wrong error-div" *ngIf="passwordsAreEqual === false">Les mots de passe ne sont pas identiques</p>
            <p class="wrong error-div" *ngIf="validPassword === false">
                Min. 8 caractères, 1 majuscule, 1 minuscule, 1 chiffre, 1 caractère special(!@#$%^&*...)
            </p>
        </div>
        <button class="main-button" type="submit" (click)="onSubmit()">Valider</button>
    </form>

    <div class="success-container" *ngIf="successfulResetPassword">
        <mat-icon class="check_circle">check_circle</mat-icon>
        <p class="succes-text">Votre mot de passe a été modifié !</p>
        <p class="succes-login-text"><a (click)="onNavigate('/login')">Revenir à la page de connexion</a> </p>
    </div>
</div>