.body {
    background: var(--background-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(27, 27, 27);
    position: absolute;
    top: 0;
    bottom: 0;
}



.container {
    width: 400px;
    max-width: 600px;
    border-radius: 4px;
    position: relative;
    border: 1px solid var(--grey-line-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 10% auto auto auto;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: 700;
}

.socials-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.social-media:nth-child(1),
.social-media:nth-child(2),
.social-media:nth-child(3) {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    flex-basis: 80%;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
}

.social-media:nth-child(1) {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: white;
}

.social-media img {
    width: 7%;
}

.social-media:hover {
    background-color: #f9f9f9;
}

.social-media:nth-child(1):hover {
    background-color: #4f73b9;
}


.social-media h4 {
    margin: auto;
    font-size: 16px;

}

.separatrion {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.separatrion p {
    margin: auto;
    padding: 10px;
}

.line-separation {
    border: 1px solid #e4e5e7;
    width: 80%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 13px;
    margin-bottom: 25px;
}

input {
    border: 1px solid #c5c6c9;
    border-radius: 4px;
    box-sizing: border-box;
    color: #404145;
    font: inherit;
    padding: 12px;
    font-size: 16px;

}

input:focus {
    outline: none;
}

.main-button {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    position: relative;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
}

.main-button:hover {
    background-color: var(--primary-color-hover);
}

.under-main-button {
    display: flex;
    justify-content: space-between;
}

.under-main-button div input {
    // margin-top: auto;
    // margin-bottom: auto;
    margin: auto 8px auto auto;
    vertical-align: middle;
}

.under-main-button div label {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

a {
    color: var(--primary-color);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}


.second-button {
    border-top: 1px solid #dadbdd;
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.success-container {

    width: 400px;
    max-width: 600px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid var(--grey-line-color);
    margin: 10% auto auto auto;
}

.check_circle {
    color: var(--primary-color);
    padding: 20px 0 10px 0;
    margin: auto;
    text-align: center;
    font-size: 70px;
    width: 100%;
    height: 100%;
}

.text {
    width: 90%;
    font-size: 16px;
    text-align: center;
    color: rgb(91, 91, 91);
    margin-bottom: 15px;
}

.error-div {
    margin-bottom: 15px;
    color: var(--error-color);
    text-align: center;
}

.input-not-valid {
    border: 1px solid var(--error-color);
    ;
}

.wrong {
    font-size: 12px;
    border: 1px solid var(--error-color);
    ;
    padding: 3px;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {


    .container,
    .success-container {
        width: 100%;
        height: 100%;
        padding-top: 30px;
        //  background-color: yellow;
    }

    .second-button {
        margin-top: 0;
    }


}

// .body {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: linear-gradient(115deg, rgba(9, 4, 40, 1) 5%, #110b38 64%);
// }


// .container {
//     margin-top: auto;
//     margin-bottom: auto;
//     display: flex;
//     flex-direction: column;
//     border-radius: 10px;
//     padding: 50px;
//     background-color: #fdfcff;
//     width: 500px;
//     box-shadow: #a48ffb90 0px 10px 36px 0px, #a48ffb90 0px 0px 0px 1px;
// }

// .success-container {
//     margin-top: auto;
//     margin-bottom: auto;
//     display: flex;
//     flex-direction: column;
//     border-radius: 10px;
//     padding: 10px 20px 20px 20px;
//     background-color: #fdfcff;
//     width: 500px;
//     box-shadow: #a48ffb90 0px 10px 36px 0px, #a48ffb90 0px 0px 0px 1px;
// }

// .error-div {
//     margin-bottom: 15px;
//     color: red;
//     text-align: center;
// }

// h1 {
//     margin-top: 5px;
//     margin-bottom: 20px;
//     color: #6142dd;
//     font-size: 28px;
// }

// #line {
//     border: 3px solid #6142dd;
//     border-radius: 10px;
//     width: 80%;
//     margin-bottom: 30px;
// }

// .inputs {
//     display: flex;
//     flex-direction: column;
// }

// label {
//     margin-top: 10px;
//     margin-bottom: 5px;
//     color: white;
// }

// input {
//     padding: 6px;
//     border: 1px solid #b5b5b5;
//     margin-bottom: 10px;
//     border-radius: 5px;
//     line-height: 24px;
//     padding: 12px 50px 11px 19px;
// }

// .input-not-valid {
//     border: 1px solid red;
// }

// input:focus,
// .input-not-valid:focus {
//     outline: none;
// }

// .wrong {
//     font-size: 12px;
//     border: 1px solid red;
//     padding: 3px;
//     margin-bottom: 5px;
// }

// ul {
//     border: 1px solid red;
//     padding: 10px;
// }

// li {
//     text-align: center;
//     font-size: 12px;
//     color: red;
// }

// button {
//     cursor: pointer;
// }

// .main-button {
//     background: #6142dd;
//     border-radius: 10px;
//     width: 80%;
//     margin: 20px auto 0 auto;
//     font-size: 20px;
//     padding: 10px;
//     border: none;
//     color: white;
// }

// .main-button:hover {
//     background: #4b30b6;
// }

// .second-button {
//     color: #6142dd;
//     background: transparent;
//     border-radius: 5px;
//     margin: 10px auto auto auto;
//     text-align: center;
//     font-size: 18px;
//     padding: 10px;
//     border: none;
//     cursor: pointer;

// }

// .second-button:hover {
//     color: #4b30b6;
// }

// .check_circle {
//     width: 100%;
//     height: 100%;
//     font-size: 50px;
//     text-align: center;
//     color: #6142dd;
//     margin-bottom: 10px;

// }

// .succes-text {
//     font-size: 17px;
//     text-align: center;
// }

// .succes-login-text {
//     font-size: 15px;
//     text-align: center;
//     margin-top: 20px;
//     color: #6142dd;
//     text-decoration: underline;
// }

// .succes-login-text a {
//     cursor: pointer;
// }

// @media screen and (max-width: 520px) {

//     .container,
//     .success-container {
//         width: 90%;
//     }
// }