.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, rgba(9, 4, 40, 1) 5%, rgba(17, 11, 56, 1) 64%);
}

.container {
    margin: auto;
    display: flex;
    border: 1px solid #FFFFFF12;
    box-shadow: #FFFFFF08 0px 10px 36px 0px, #FFFFFF08 0px 0px 0px 1px;
    border-radius: 0 10px 0px 10px;
    width: 500px;
}

form {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 0px 10px;
    padding: 50px;
    background-color: #fdfcff;
    width: 100%;

}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #6142dd;
    font-size: 28px;
}

#line {
    border: 3px solid #7759F3;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px;
    border: 1px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 24px;
    padding: 12px 50px 11px 19px;
}

input:focus {
    outline: none;

}

p {
    font-size: 12px;
    text-align: center;
    color: black;
}

p a {
    color: #7759F3;
}

p a:hover {
    color: #bb86fc;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.main-button {
    background: #6142dd;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto 10px auto;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
}

.main-button:hover {
    background: #4b30b6;
}


@media screen and (max-width: 520px) {
    img {
        display: none;
    }

    form {
        width: 100%;
    }

    .container {
        width: 90%;
    }
}