<div class="body" *ngIf="displayComponent">
    <div class="container" *ngIf="!successfulForgotPassword">
        <div class="header">
            <h1>Mot de passe oublié</h1>
            <mat-icon class="icon-close" (click)="displayForgotPasswordComponent()">close</mat-icon>
        </div>
        <p class="text">Nous vous enverrons un lien pour réinitialiser votre mot
            de
            passe.</p>
        <form [formGroup]="forgotPasswordForm">
            <p class="wrong error-div" *ngIf="emailIsValid === false">L'adresse email est incorrect</p>
            <input type="text" placeholder="Email" formControlName="email">
            <button class="main-button" type="submit" (click)="onSubmit()">Mot de passe oublié</button>
        </form>

        <p class="second-button"><a (click)="displayLoginComponent()">Revenir à la page de connexion</a></p>
    </div>

    <!-- success message  -->
    <div class="success-container" *ngIf="successfulForgotPassword">
        <div class="header">
            <mat-icon class="check_circle">check_circle</mat-icon>
            <mat-icon class="icon-close" (click)="displayForgotPasswordComponent()">close</mat-icon>
        </div>
        <p class="text">Vous venez de recevoir un email afin de réinitialiser votre mot de passe !</p>
        <p class="second-button"><a (click)="displayLoginComponent()">Revenir à la page de connexion</a></p>
    </div>
    <!-- end success message -->
</div>

<!-- <div class="body">
    <div class="container">
        <form [formGroup]="forgotPasswordForm" *ngIf="!successfulForgotPassword">
            <h1>Mot de passe oublié</h1>
            <span id="line"></span>
            <p class="wrong error-div" *ngIf="emailIsValid === false">L'adresse email est incorrect</p>
            <div class="inputs">
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            <button class="main-button" type="submit" (click)="onSubmit()">Mot de passe oublié</button>
            <p>Pour revenir à la page de connexion, <a (click)="onNavigate('/login')">cliquez ici</a></p>
        </form>

        <div class="success-container" *ngIf="successfulForgotPassword">
            <mat-icon class="check_circle">check_circle</mat-icon>
            <p class="succes-text">Vous venez de recevoir un email afin de réinitialiser votre mot de passe !</p>
            <p class="succes-login-text"><a (click)="onNavigate('/login')">Revenir à la page de connexion</a> </p>
        </div>
    </div>
</div> -->