<div class="body">
    <div class="container">
        <form [formGroup]="forgotPasswordForm" *ngIf="!successfulForgotPassword">
            <h1>Mot de passe oublié</h1>
            <span id="line"></span>
            <p class="wrong error-div" *ngIf="emailIsValid === false">L'adresse email est incorrect</p>
            <div class="inputs">
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            <button class="main-button" type="submit" (click)="onSubmit()">Mot de passe oublié</button>
            <p>Pour revenir à la page de connexion, <a (click)="onNavigate('/login')">cliquez ici</a></p>
        </form>

        <div class="success-container" *ngIf="successfulForgotPassword">
            <mat-icon class="check_circle">check_circle</mat-icon>
            <p class="succes-text">Vous venez de recevoir un email afin de réinitialiser votre mot de passe !</p>
            <p class="succes-login-text"><a (click)="onNavigate('/login')">Revenir à la page de connexion</a> </p>
        </div>
    </div>
</div>