.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(115deg, rgba(9,4,40,1) 5%, #110b38 64%);
}


.container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    background-color: #fdfcff;
    width: 500px;
    box-shadow: #a48ffb90 0px 10px 36px 0px, #a48ffb90 0px 0px 0px 1px;    
}

.success-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    background-color: #fdfcff;
    width: 500px;
    box-shadow: #a48ffb90 0px 10px 36px 0px, #a48ffb90 0px 0px 0px 1px; 
}

.error-div {
    margin-bottom: 15px;
    color: red;
    text-align: center;
}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #6142dd;
    font-size: 28px;
}

#line {
    border: 3px solid #6142dd;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

input {
    padding: 6px;
    border: 1px solid #b5b5b5;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 24px;
    padding: 12px 50px 11px 19px;
}

.input-not-valid {
    border: 1px solid red;
}

input:focus, .input-not-valid:focus {
   outline:none;   
}

.wrong{
    font-size: 12px;
    border: 1px solid red;
    padding: 3px;
    margin-bottom: 5px;
}

ul{
    border: 1px solid red;
    padding: 10px;
}
li {
    text-align: center;
    font-size: 12px;
    color: red;
}

button {
    cursor: pointer;
}

.main-button {
    background: #6142dd;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto 0 auto;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
}

.main-button:hover {
    background: #4b30b6;
}

.second-button {
    color: #6142dd;
    background: transparent;
    border-radius: 5px;
    margin: 10px auto auto auto;
    text-align: center;
    font-size: 18px;
    padding: 10px;
  border: none;
  cursor: pointer;

}

.second-button:hover {
    color: #4b30b6;
}

.check_circle {
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    color: #6142dd;
    margin-bottom: 10px;

}

.succes-text {
    font-size: 17px;
    text-align: center;
}

.succes-login-text {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: #6142dd;
    text-decoration: underline;
}

.succes-login-text a{
    cursor: pointer;
}

@media screen and (max-width: 520px) {

    .container, .success-container {
        width: 90%;
    }
  }
